[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-datetime-widget = "*"
django-bootstrap-datepicker-plus = "*"
bootstrap4 = "*"
django-bootstrap4 = "*"
dj-database-url = "*"
whitenoise = "*"
gunicorn = "*"
psycopg2-binary = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.11"
